@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap');*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Calibri, sans-serif;
}

body {
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #ffffff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {
	position: relative;
	background: #003147;
	padding: 40px;
}

.profileText {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profileText .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profileText h2 {
	color: #ffffff;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.profileText h2 span {
	font-size: 0.8em;
	font-weight: 300;
}

.contactInfo {
	padding-top: 40px;
}

.contactInfo ul {
	position: relative
}

.contactInfo ul li {
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.contactInfo ul li .icon {
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #03a9f4
}

.contactInfo ul li span {
	color: white;
	font-weight: 300;
	margin-bottom: 10px;
}

.contactInfo ul li a {
	color: white;
	font-weight: 300;
}

.education li {
	position: relative;
	margin-top: 20px;
}

.education li h5 {
	color: #03a9f4;
	font-weight: 300;
	margin-bottom: 2px;
}

.education li h4 {
	color: white;
	font-weight: 300;
	margin-bottom: 2px;
}

.mh-languages {
	color: white;
	font-weight: 300;
	margin-top: 30px;
}

.mh-languages h5 {
	font-size: 18px;
	font-weight: 600;
	margin-top: 30px;
}

.can {
	position: relative;
	margin-bottom: 15px;
}

.part {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

.info {
	position: relative;
}

.name {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;
	font-weight: 300;
	opacity: 0.9;
}

.percent-num {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	font-weight: normal;
}

.progress-bar {
	position: relative;
	width: 100%;
	height: 7px;
	margin: 30px 0 2px;
	background-color: #003147;
}

.percentagem {
	position: absolute;
	top: 0;
	height: 7px;
	border-radius: 10px;
	background: #03a9f4;
}

.title {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.container .right_Side {
	position: relative;
	background: #ffffff;
	padding: 40px;
}

